@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
}

/*-- override styles --*/
button:focus {
	outline: none !important;
}

a {
	text-decoration: none;
}

a.naranja{
	color: #FFA900;
}

a.naranja:visited {
	color: #FFA900;
}

a.naranja:hover {
	color: #FFA900;
	text-decoration: underline;
}

.mostrar {
	margin-top: 3vh;
	margin-bottom: 2vh;
}

.gracias {
	margin-top: 5vh;
}

/* custom styles */
body {
	font-family: 'Poppins', sans-serif;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 19px;
	line-height: 1.5;
}

h1 {
	color: #007DFF;
	font-size: 35px;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 3vh;
	margin-top: 5vh;
	text-align: center;
}

p {
  margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.5;
}

.azul {
	color: #007DFF;
}

h2 {
	color: #007DFF;
	font-size: 30px;
	line-height: 1.2;
	font-weight: 500;
	margin-bottom: 5vh;
	text-align: left;
}

.page-container {
	display: flex;
    justify-content: center;
	flex-direction: column;
	position: relative;
}


.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.content {
	display: flex;
    flex-direction: column;
}

.block {
	width: 50%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 2em;
	display: flex;
	flex-direction: column;
}

.block .naranja {
	font-size: 20px;
	color: #FFA900;
	padding-left: 20px;
	font-weight: 500;
	margin-bottom: 5px;
	line-height: 1.3;
}

.small {
	font-size: 19px;
	font-weight: normal;
	color: #007DFF;
}

.cita-container {
	height: auto;
	border: #007DFF 3px solid;
	background-color: white;
	color: black;
	border-radius: 40px;
	padding: 15px;
	padding-left: 20px;
	margin-bottom: 15px;
	min-height: 60px;
}

.button {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 20px;
	align-self: center;

	border: none;
	background-color: #FFA900;
	color: white;
	-webkit-box-shadow: -5px 5px 0px 0px #007DFF;
	-moz-box-shadow: -5px 5px 0px 0px #007DFF;
	box-shadow: -5px 5px 0px 0px #007DFF;

	cursor: pointer;
}

button:hover {
	background-color: #007DFF;
	-webkit-box-shadow: -5px 5px 0px 0px #FFA900;
	-moz-box-shadow: -5px 5px 0px 0px #FFA900;
	box-shadow: -5px 5px 0px 0px #FFA900;
}

button {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding: 50px 10px;
	border: none;
	background-color: #FFA900;
	color: white;
	-webkit-box-shadow: -5px 5px 0px 0px #007DFF;
	-moz-box-shadow: -5px 5px 0px 0px #007DFF;
	box-shadow: -5px 5px 0px 0px #007DFF;
	cursor: pointer;
}

.botones {
	display: flex;
  justify-content: space-evenly;
}

.big-button {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 20px;
	text-align: center;
	/*align-self: center;*/
	margin-top: 5vh;	
	border: none;
	background-color: #007DFF;
	color: white;
	-webkit-box-shadow: -5px 5px 0px 0px #FFA900;
	-moz-box-shadow: -5px 5px 0px 0px #FFA900;
	box-shadow: -5px 5px 0px 0px #FFA900;
	margin-left: 20px;
	margin-right: 20px;

	cursor: pointer;
}

footer {
	position: absolute;
	bottom: 30px;
	margin: 2em auto;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

footer.form {
	position: relative;
	margin: 2em auto;
}
 
footer.form .big-button {
	position: absolute;
	left: 50%;
    margin-right: -50%;
	transform: translate(-50%, 0);
	margin-bottom: 2em;
}

.big-button:hover {
	background-color: #FFA900;

	-webkit-box-shadow: -5px 5px 0px 0px #007DFF;
	-moz-box-shadow: -5px 5px 0px 0px #007DFF;
	box-shadow: -5px 5px 0px 0px #007DFF;

}

.ejemplos {
	max-width: 1200px;
	margin: 0.5vh auto;
	
}

.ejemplos-container {
	margin-bottom: 5vh;
}

.cita {
	margin: 0 auto 5vh auto;
	color: #007DFF;
	margin: 0 50px;
	/*max-width: 800px;*/
	line-height: 20px;
}

strong {
	font-family: serif;
	font-size: 20px;
}

.iframe {
	width:100%; 
	height: 800px;
}

.foto-container {
	position: relative;
	width: 100%;
	max-width: 1100px;
	height: 600px;
	margin: auto;
	margin-bottom: 3em;
	padding: 15px;
}

.foto-container .foto {
	position: absolute;
	left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: grayscale(100%);
}

.color {
	background-color: #007DFF;
	position: absolute;
	left: 50%;
    top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	mix-blend-mode: color;
	opacity: 0.5;
}

.slick-arrow {
	padding: 3px;
  line-height: 16px;
  font-size: 16px;
}


.slick-prev:before {
  content: "<";
}

.slick-next:before {
  content: ">";
}

@media (max-width: 800px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.block {
		width: 95%;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	.block .naranja {
		font-size: 18px;
	}

	.button {
		font-size: 16px;
	}

	.big-button {
		font-size: 16px;
	}

	.cita {
		line-height: 18px;
		font-size: 14px;
		margin: 0 10px;
	}

	.slick-list.draggable {
		padding: 0px 10px !important;
	}

	strong {
		font-family: serif;
		font-size: 18px;
	}

	.foto-container {
		height: 300px;
	}
	
}